*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Antic Slab', serif;
}

input:focus {
  outline: none;
  border: 1px solid #a4a4a4;
  background-color: rgb(206, 231, 255);
}

.wrapper {
  width: 70%;
  margin: 7vh auto;
  position: relative;
}

button,
input[type='submit'] {
  height: 30px;
  border: 1px solid #d7d7ff;
  background-color: #9dbff1;
}

button:hover,
input[type='submit']:hover {
  cursor: pointer;
  background-color: #385a8d;
  color: white;
}

button:focus,
input[type='submit']:focus {
  outline: none;
}

button > * {
  pointer-events: none;
}

.add-book {
  position: relative;
  margin: 0 auto;
  display: block;
  top: -15px;
  width: 200px;
  height: 36px;
  transition: 0.6s;
}

.new-book-form {
  top: 8px;
  position: relative;
  display: flex;
  justify-content: space-between;
  transition: 0.6s;
}

.new-book-form > input {
  height: 30px;
  border: 1px solid #a4a4a4;
  padding-left: 5px;
  font-size: 16px;
}

input[name='pages'] {
  width: 80px;
}

.hidden {
transform: translateY(-400px);
}

.checkbox-container {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #a4a4a4;
}

table, th, td {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #cecece;
  padding: 15px;
}

.td-booking {
  padding-top: 0;
  padding-bottom: 0;
  width: 10vw;
}

th {
  background-color: #0098c578;
  font-weight: 600;
  font-size: 18px;
}

th:hover {
  cursor: pointer;
  color: white;
}

tr {
  background-color: #f5faff;
}

tr:nth-child(even) {
  background-color: #f0f5ff;
}